<%# <h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p> %>

<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <!-- <a href="/users/<%= user.id %>">
        <%= user.username %>
      </a> %> -->
      <%= link_to user.username, user %>
    </li>
  <% end %>
</ul>