<%# <h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p> %>

<h1><%= link_to "Login", new_admin_session_path %></h1>
<h1><%= link_to "Logout", destroy_admin_session_path,
                method: :delete %></h1>

<h1>New User</h1>

<%= render "form", user: @user %>